<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085474027958-v878p36qh9jk9a9dvon1p2dhf5mg8j17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085474027958-v878p36qh9jk9a9dvon1p2dhf5mg8j17</string>
	<key>API_KEY</key>
	<string>AIzaSyCBSgGfQY4ylsU92fDga-wid-vzX_RHKfo</string>
	<key>GCM_SENDER_ID</key>
	<string>1085474027958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Genisys.LiveFaceApp</string>
	<key>PROJECT_ID</key>
	<string>bustling-dynamo-277111</string>
	<key>STORAGE_BUCKET</key>
	<string>bustling-dynamo-277111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085474027958:ios:c9eaa678b79993fca02917</string>
</dict>
</plist>